body{
    margin: 0;
    padding: 0;
    background-color: #04050D;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #910000;
}

header img{
    width: 25vw;
}

.loginOrRegister{
    background-color: #2a2a2c;
    margin-top: -15px;
    padding: 40px;
    border-radius: 15px;
}

.loginOrRegisterBtn{
    color: white;
    font-weight: lighter;
    background-color: #910000;
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 200%;
    margin: 5px;
    transition: all 0.3s ease;
}

.loginOrRegisterBtn:active{
    background-color: #2a2a2c;
    color: #910000;
}

.searchFor{
    background-color: #2a2a2c;
    margin-top: 20px;
    padding: 35px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.searchFor img{
    width: 10%;
}

.searchFor input{
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #2a2a2c;
    font-size: 150%;
    color: white;
    text-align: center;
    transition: all 0.5s ease;
}

.searchFor input:focus{
    outline: none;
    text-align: center;       
    box-shadow: 0 0 10px #910000; 
}

.scrollable{ /* główny obszar skrollowania ustawiony pionowo */
    width: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.scrollable::-webkit-scrollbar{
    display: none;
}

.horizontalScroll{ /* Div-y w środku sekcji służące do skrollowania ustawione poziomo  */
    display: flex;             
    overflow-x: auto;          
    white-space: nowrap;       
    gap: 35px;                 
    padding: 10px;
}

/* Główny kontener paska */
.horizontalScroll::-webkit-scrollbar, body::-webkit-scrollbar {
    height: 18px;
}

/* Tło paska (tor) */
.horizontalScroll::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
}

/* Suwak (to co przesuwasz) */
.horizontalScroll::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 10px;
    border: 2px solid #1a1a1a; 
}

/* Suwak po najechaniu myszką */
.horizontalScroll::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
    background: #910000; 
}

section{ /* sekcje z paragrafami z nazwą sekcji oraz produktami w horizontalscrollu */
    margin: 2%;
}

section .sectionName{ /* Paragraf opisujący każdą sekcje */
    font-size: 260%;
    font-weight: 400;
}

.sectionName img{ /* te hipki jak z maka */
    width: 7%;
}


.scrollItem{  /* Pojedyńcze elementy na liście do skrollowania poziomego */
    height: 450px;
    width: 225px;
    background-color: #2a2a2c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:end;
}
.scrollItem img{
    width: 225px;
    border-radius: 20px 20px 0px 0px;
}

.scrollItem p{
    margin: 22px 40px;
    font-size: 150%;
}

.scrollItem button{
    padding: 5% 12%;
    margin-top: 22%;
    margin-right: 6%;
    padding-bottom: 6%;
    border-radius: 25px;
    font-size: 220%;
    font-weight: bolder;
    color: white;
    background-color: #910000;
    border: none;
    transition: all 0.2s ease;
}

.scrollItem button:active{
    background-color: #2a2a2c;
    border: 1px #910000 solid;
    color: #910000;
}

.resizeImg{
    max-width: 80%;
    border-radius: 10px;
    margin: 2%;
}

footer{
    width: 100%;
    background-color: #2a2a2c;
    height: 25vh;
    color: white;
    font-size: 150%;
}

footer a{
    text-decoration: none;
    color:#5f5f5f;
}

footer span{
    font-weight: bold;
    color: #910000;
}

.supportMain{ /* sekcja regulamin, kontakt itd ze stopki */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.help, .support{ /* klasy ze stopki */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #5f5f5f solid;
}

.support{
    border-left: 1px #5f5f5f solid;
}

.payment{ /* sekcja metody płatnosci ze stopki */
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6%;
}

.paymentImg{  /* klasa obrazków z metodami płattności */
    width: 3vw;
    margin-bottom: -5px;
}

.rights{ /* sekcja 'wszelkie prawa zastrzeżone 🤓' ze stopki */
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 75%;
    gap: 1px;
    margin-bottom: -15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.rights .dimP{
    color: #5f5f5f;
    font-weight: lighter;
    margin-top: -20px;

}

.rights hr{
    height: 10px;
    width: 100%;
    color: transparent;
}



/* dla mniejszych monitorów */
@media(max-width: 1800px){

    header img{
        width: 42vw;
    }

    .scrollItem{  /* Pojedyńcze elementy na liście do skrollowania poziomego */
        height: 350px;
        width: 175px;
    }
    .scrollItem img{
        width: 175px;
    }

    .scrollItem p{
        margin: 20px;
        font-size: 135%;
    }

    .scrollItem button{
        padding: 5% 13%;
        margin-top: 16%;
        margin-right: 5%;
        font-size: 190%;
        padding-bottom: 6%;
        border-radius: 20px;
    }

    .loginOrRegister{
        margin-top: -20px;
        padding: 30px 20px;
    }

    .loginOrRegisterBtn{
        padding: 15px 40px;
        font-size: 150%;
        margin: 5px;
    }

    .searchFor{
        margin-top: 20px;
        padding: 25px;
        border-radius: 15px;
        gap: 15px;
    }

    .searchFor img{
        width: 8%;
    }

    .searchFor input{
        width: 80%;
        padding: 5px;
        font-size: 130%;
    }

    footer{
        height: 25vh;
        font-size: 125%;
    }

    .payment{ /* sekcja metody płatnosci ze stopki */
        gap: 7%;
    }

    .paymentImg{  /* klasa obrazków z metodami płattności */
        width: 5vw;
        margin-bottom: 10px;
    }

    .rights{ /* sekcja 'wszelkie prawa zastrzeżone 🤓' ze stopki */
        font-size: 80%;
        gap: 1px;
        margin-bottom: -5px;
        padding-bottom: 25px;
    }

    .rights .dimP{
        margin-top: -10px;
    }

    section .sectionName{ /* Paragraf opisujący każdą sekcje */
        font-size: 200%;
    }

    .sectionName img{ /* te hipki jak z maka */
        width: 7%;
    }

}

/* dla tabletów */
@media(max-width: 1000px){
    
    header img{
        width: 50vh;
    }

    .horizontalScroll{ 
        gap: 25px;                 
    }

    .scrollItem{  /* Pojedyńcze elementy na liście do skrollowania poziomego */
        height: 300px;
        width: 150px;
        border-radius: 15px;
        border-radius: 15PX 15px 0px 0px;
    }
    .scrollItem img{
        width: 150px;
    }

    .scrollItem p{
        margin: 20px;
        font-size: 110%;
    }

    .scrollItem button{
        padding: 5% 13%;
        margin-top: 12%;
        margin-right: 6%;
        font-size: 160%;
        padding-bottom: 6%;
        border-radius: 15px;
    }

    .loginOrRegister{
        margin-top: -20px;
        padding: 25px 18px;
    }

    .loginOrRegisterBtn{
        padding: 10px 30px;
        font-size: 140%;
        margin: 5px;
        border-radius: 10px;
    }

    .searchFor{
        margin-top: 15px;
        padding: 15px;
        border-radius: 15px;
        gap: 15px;
    }

    .searchFor img{
        width: 7%;
    }

    .searchFor input{
        width: 80%;
        padding: 5px 0px;
        font-size: 110%;
    }

    footer{
        height: 20vh;
        font-size: 110%;
    }

    .payment{ /* sekcja metody płatnosci ze stopki */
        gap: 8%;
    }

    .paymentImg{  /* klasa obrazków z metodami płattności */
        width: 6vw;
        margin-bottom: 5px;
    }

    .rights{ /* sekcja 'wszelkie prawa zastrzeżone 🤓' ze stopki */
        font-size: 70%;
        gap: 0px;
        margin-bottom: -5px;
        padding-bottom: 25px;
    }

    .rights .dimP{
        margin-top: -10px;
    }

    section .sectionName{ /* Paragraf opisujący każdą sekcje */
        font-size: 180%;
    }

    .sectionName img{ /* te hipki jak z maka */
        width: 9%;
    }


}

/* dla telefonów */
@media(max-width: 440px){
    
    header img{
        width: 100vw;
    }

    .horizontalScroll{ 
        gap: 18px;                 
    }

    .scrollItem{  /* Pojedyńcze elementy na liście do skrollowania poziomego */
        height: 226px;
        width: 113px;
        border-radius: 10px;
    }
    .scrollItem img{
        width: 113px;
        border-radius: 10px 10px 0px 0px;
    }

    .scrollItem p{
        margin: 22px 8px;
        font-size: 95%;
    }

    .scrollItem button{
        padding: 5% 12.5%;
        margin-top: 0%;
        margin-right: 8%;
        font-size: 115%;
        padding-bottom: 6%;
        border-radius: 12px;
    }

    .loginOrRegister{
        margin-top: -15px;
        padding: 25px 8px;
    }

    .loginOrRegisterBtn{
        padding: 10px 30px;
        font-size: 100%;
        margin: 5px;
        border-radius: 10px;
    }

    .searchFor{
        margin-top: 15px;
        padding: 10px 0px;
        border-radius: 15px;
        gap: 5px;
    }

    .searchFor img{
        width: 9%;
    }

    .searchFor input{
        width: 80%;
        padding: 5px 0px;
        font-size: 100%;
    }

    footer{
        height: 25vh;
        font-size: 90%;
    }

    .payment{ /* sekcja metody płatnosci ze stopki */
        gap: 7%;
    }

    .paymentImg{  /* klasa obrazków z metodami płattności */
        width: 10vw;
        margin-bottom: 5px;
    }

    .rights{ /* sekcja 'wszelkie prawa zastrzeżone 🤓' ze stopki */
        font-size: 80%;
        gap: 0px;
        margin-bottom: -10px;
        padding-bottom: 25px;
    }

    .rights .dimP{
        margin-top: -10px;
    }

    section .sectionName{ /* Paragraf opisujący każdą sekcje */
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 150%;
    }

    .sectionName img{ /* te hipki jak z maka */
        width: 25%;
    }


}