
body{
    padding-bottom: 9vh !important;
}


.dockingPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 9vh;
    background-color: #18181b;
}

.dockingPanel .dock{
    margin-top: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5f5f5f;
    gap: 5px;
    font-size: 150%;
    text-decoration: none;
}

.dock img{
    width: 10%;
}

.dock p{
    margin-bottom: 0;
}

@media(max-width: 1800px){

    body{
        padding-bottom: 8vh !important;
    }

    .dockingPanel{
        height: 8vh;
    }

    .dockingPanel .dock{
        gap: 5px;
        font-size: 120%;
    }

    .dock img{
        width: 9%;
    }

}

@media(max-width: 1000px){

    body{
        padding-bottom: 8vh !important;
    }

    .dockingPanel{
        height: 8vh;
    }

    .dockingPanel .dock{
        gap: 5px;
        font-size: 90%;
    }

    .dock img{
        width: 12%;
    }

}

@media(max-width: 440px){

    body{
        padding-bottom: 9vh !important;
    }

    .dockingPanel{
        height: 9vh;
        justify-content: space-around;
    }

    .dockingPanel .dock{
        gap: 5px;
        font-size: 95%;
        margin-bottom: 7px;
    }

    .dock img{
        width: 32%;
    }
    
    .dock p{
        margin-bottom: -13px;
    }

}